html,
body,
#root {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #121212;
  color: #f5f5f5;
  font-family: "Inter Variable", "Roboto Variable", sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow-x: hidden;
}
